
body {
    background-color: black;
    color:#fff;
    padding:0px;
    margin:0px;
}

#viewport {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    left: 0px;
    right: 0px;
    padding: 0px;
    display: block;
}

#debugview {
	font-family:monospace;
	height:60px;
	background-color:#222;
}

#debugview > li {
	display:block;
	border:1px solid white;
	width:120px;
	float:left;
	padding:5px;
	position:relative;
}